<div class="alert alert-error" ng-show="error" xmlns="http://www.w3.org/1999/html">
  {{errorMessage}}
</div>
<div class="jumbotron">
  <h1 text-align="center">Hello, dear farmer!</h1>
</div>

<div>
  <span  style="padding-left: 6px;" class="col-lg-6">Farm Zip Code</span>
  <span  style="padding-left: 122px;" class="col-lg-6">Seeding Date</span>
</div>

<div>
  <input type="text" id="zipcode" ng-model="farm.zipcode" placeholder="Zip Code" required min="5">
  <input type="date" id="seedingDate" class="form-control" uib-datepicker-popup
         ng-model="farm.seedingDate"
         is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions"
         date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>

</div>
<p/>
<div>
  <div class="controls">
    <button type="button" class="btn btn-primary" ng-disabled="!farm.zipcode || !farm.seedingDate" ng-hide="editMode"
            ng-click="submit(farm)">Go
    </button>
    <button type="button" class="btn" ng-click="resetForm()">Reset</button>
  </div>
</div>
</p>

<div class="row">
  <div style="width: 25%;float: left">
    <div class="gryBx" style="padding-bottom: 26px">
      <div class="row">
        <div class="col-md-4"><img style="padding-left: 12px" src="resources/img/cloud.png"/></div>
        <div class="col-md-8" style="padding-left: 12px"><span style="font-size: 12px" >Precipitation since seeding:</span><br><span style="font-size: 16px"><b>{{(farm.precip_in | number) || "N/A"}} inch</b></span></div>
      </div>
    </div>
  </div>

  <div style="width: 25%; padding-left : 20px; float:left;">
    <div class=" gryBx">
      <div class="row">
        <div class="col-md-4"><img style="padding-left: 12px" src="resources/img/thermo.png"/></div>
        <div class="col-md-8" style="padding-left: 12px"><span style="font-size: 12px" >Lowest temp since seeding:</span><br><span style="font-size: 16px"><b>{{(farm.temp_min | number:1) || "N/A"}} &#8457;</b></span></div>
      </div>
    </div>
  </div>

  <div style="width: 25%;padding-left : 20px; float:left;">
    <div class="gryBx">
      <div class="row">
        <div class="col-md-4"><img style="padding-left: 12px" src="resources/img/thermo.png"/></div>
        <div class="col-md-8" style="padding-left: 12px"><span style="font-size: 12px" >Highest temp since seeding:</span><br><span style="font-size: 16px"><b>{{(farm.temp_max | number:1) || "N/A"}} &#8457;</b></span></div>
      </div>
    </div>
  </div>
</div>
</hr>
</p>
<div id="map"/>

<hr/>


